/*  your css code here. If applicable */
.main-c{
	background-color:#f5f5f5;
	padding:4vw;
}
.text{
	Background-color:white;
	border:1px solid #babab8 ;
	padding-inline:5px; 
	margin-top:20px;
}
.author{
	text-align:right;
	Font-style:italic;
}